.tablero {
  height: 500px;
  width: 500px;
  table-layout: fixed;
  background-image: radial-gradient(
    circle 860px at 11.8% 33.5%,
    rgba(240, 30, 92, 1) 0%,
    rgba(244, 49, 74, 1) 30.5%,
    rgba(249, 75, 37, 1) 56.1%,
    rgba(250, 88, 19, 1) 75.6%,
    rgba(253, 102, 2, 1) 100.2%
  );
}

.tablero tr td {
  box-sizing: border-box;
  /* border: 5px solid orange; */
  color: blueviolet;
  background-color: #212121;
}

.turno:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.418);
}

.animacion {
  background-color: rgba(0, 0, 0, 0.418) !important;
}

.text {
  width: 100%;
  text-align: center;
  font-size: 4rem;
}

.last {
  animation: lastAnimation 400ms;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

@keyframes lastAnimation {
  0% {
    transform: rotate(-30deg) scale(1.8);
  }

  80% {
    transform: scale(0.4);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}
